<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="card-background-page">
    <ion-card *ngFor="let dataa of data">
      <img src="{{dataa.Foto}}"/>
      <div class="card-title">{{dataa.Nombre}}</div>
      <div class="card-subtitle">{{dataa.Correo}}</div>
      <div class="card-subsubtitle">{{dataa.Edad}}</div>
    </ion-card>
  </ion-content>
</ion-content>
